<div class="footer" style="transform: skewY(-4deg);" id="footer">
  <div style="margin: auto;max-width: 1000px;transform: skewY(4deg)">
    <h1 style="text-align: center;padding-top:50px;color:#212121;">LOGO</h1>
    <hr>
    <div class="footer-items">
        <div>
          <h2>Navigation</h2>
          <p>Home</p>
          <p>About</p>
          <p>Skills</p>
          <p>Projects</p>
        </div>
        <div style="display: flex;flex-direction: column;">
          <h2>Socials</h2>
          <a href="https://github.com/Fadiman741">Gibhub</a>
          <a href="https://wa.me/27796872741">Whatsapp</a>
          <a href="">YouTube</a>
          <a href="https://www.linkedin.com/in/mafadilephaka/">Linkedin</a>
        </div>
        <div>
          <h2>Projects</h2>
          <p>Myschool</p>
          <p>Skybridge</p>
          <p>YouTube</p>
          <p>Linkedin</p>
        </div>
        <div>
          <h2>Education</h2>
          <p>Bsc Computer Science</p>
          <p>University of the Western Cape</p>
        </div>
    </div>
  </div>
</div>
<p style="color:rgb(26, 24, 24);padding-bottom: 10px;text-align: center;">  Copyright &copy;2023 Fadiman All rights reserved</p>