hr {
        overflow: visible; /* For IE */
        padding: 0;
        border: none;
        border-top: medium double #212121;;
        color: #212121;
        text-align: center;
}
hr:after {
        content: "xxxxxxx";
        display: inline-block;
        position: relative;
        top: -0.8em;
        font-size: 1.2em;
        padding: 0 0.15em;
        background: #212121;
}
.footer{
        margin-bottom: 30px;
}
.footer-items{
        display: flex;
        justify-content: space-between;
}
p{
        font-family: "Work Sans",sans-serif;
        font-size: 15px;    
}


@media screen and (max-width: 678px) {
        .footer-items{
                flex-direction: column;
        }
}