<div class="footer" id="footer">
	<div style="margin: auto;max-width: 1000px;">
		<h1
			style="text-align: center;padding-top:10px;padding-bottom:30px;color:#eee;">Your
			Vision , Our Code!</h1>
		<hr>
		<div class="footer-items" style="padding-top: 20px;padding-bottom: 20px;">
			<div style="padding-bottom: 10px;">
				<h3>CONTACT</h3>
				<!-- <p>Email : info@mafadi.com</p> -->
				<p>Phone &nbsp;&nbsp;&nbsp;: +27 79 6874 741</p>
				<p>Location : Cape Town, South Africa </p>
				<h3>SOCIALS</h3>
				<div style="display: flex;justify-content: space-between;max-width: 100px;">
					<a href="https://github.com/Fadiman741"><fa-icon [icon]="faSquareGithub"></fa-icon></a>
					<a href="https://www.linkedin.com/in/mafadilephaka/"><fa-icon
							[icon]="faLinkedin"></fa-icon></a>
					<a href="https://wa.me/27796872741"><fa-icon [icon]="faSquareWhatsapp"></fa-icon></a>
					<!-- <a><fa-icon [icon]="faSquareWhatsapp"></fa-icon></a> -->
				</div>
			</div>
			<div>
				<!-- <h3>SOCIALS</h3>
        <div style="display: flex;justify-content: space-between;">
          <a href="https://github.com/Fadiman741">A</a>
          <a href="https://wa.me/27796872741">B</a>
          <a href="">C</a>
          <a href="https://www.linkedin.com/in/mafadilephaka/">D</a>
        </div> -->
			</div>
			<div>
				<h3>NAVIGATION</h3>
				<p (click)="goHome()"><a style="color: #aaa;">Home</a></p>
				<p (click)="goDown1()"><a style="color: #aaa;">About</a></p>
				<p (click)="goDown2()"><a style="color: #aaa;">Skills</a></p>
			</div>
			<div>
				<h3>PROJECTS</h3>
				<p>Myschool</p>
				<p>Skybridge</p>
				<!-- <p>YouTube</p>
          <p>Linkedin</p> -->
			</div>
			<div>
				<h3>EDUCATION</h3>
				<p>Bsc Computer Science</p>
				<p>University of the Western Cape</p>
				<!-- <br> -->
				<h3>REVIEWS</h3>
				<a style="color: #bbb;" routerLink="Type-a-review"><i
						class="fa fa-pencil-square-o" aria-hidden="true"
						style="padding-right: 5px;"></i>Write a Review</a>
				<p><a style="color: #aaa;" routerLink="reviews"><i class="fa fa-eye"
							aria-hidden="true" style="padding-right: 5px;"></i>Read Reviews</a></p>

			</div>
		</div>
		<hr>
		<p
			style="color:#bbb;padding-top: 10px;padding-bottom: 0px;text-align: center;">
			Copyright &copy;2023 All rights reserved | Developed by Fadiman</p>
	</div>
</div>