hr {
        overflow: visible; /* For IE */
        padding: 0;
        border: none;
        border-top: medium double #bbb;;
        color: #fff;
        text-align: center;
}
hr:after {
        /* content: "xxxxxxx"; */
        display: inline-block;
        position: relative;
        top: -0.8em;
        font-size: 1.2em;
        padding: 0 0.15em;
        background: #212121;
}
.footer{
        padding: 20px;

                background-image: linear-gradient(200deg, #000000, rgba(2, 2, 2, 0.75)), url('src/assets/images/bg2.jpg');
                /* height: 100vh; */
                background-repeat: no-repeat;
                /* background-attachment: fixed; */
                background-position: right ;
                background-size: cover;
}
.footer-items{
        display: flex;
        justify-content: space-between;
}
p{
        font-family: "Work Sans",sans-serif;
        font-size: 15px;    
        color: #aaa;
        padding-bottom: 10px;
}
a{
        text-decoration: none;
        
        font-family: "Work Sans",sans-serif;
        font-size: 15px;  
        padding-bottom: 10px;
        color: #aaa;
}
a{
        /* border: 1px solid #aaa;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px; */

        color: black;
        border-radius: 6px;
        /* background-color: #fff; */
        /* margin-left: 5px; */
}
fa-icon{
        font-size: 25px;   
        color: #3a9bac;    
}
h3{
        color:#3a9bac;
        /* padding-top: 10px; */
        /* background-color: #3a9bac; */
}

@media screen and (max-width: 678px) {
        .footer-items{
                flex-direction: column;
        }
}