

<div class="contact">
  <div style="max-width: 700px;margin: auto;transform: skewY(3deg);">
    <h1>Let's Talk</h1>
    <p>Thanks for taking the time to contact me. Please send me some information on your project so I can determine how best to help you.</p>
    <form action="https://formsubmit.co/mafadi.lephaka21@gmail.com" method="POST">
        <div>
          <div style="display: flex;justify-content: space-between;">
            <div class="input">
              <label><b>Name</b> *</label>
              <input type="text" placeholder="Enter your name..." name="name"  required>
            </div>
            <div class="input" style="padding-left: 3%;">
              <label><b>Email</b> *</label>
              <input type="text" placeholder="Enter your email..."name="email" required>
            </div>
          </div>
          <div class="textarea">
              <label><b>Your Message</b></label>
              <!-- <input  placeholder="Enter your name..."> -->
              <textarea placeholder="Your Message" class="form-control" name="message" rows="10" required></textarea> 
          </div>
        </div>
        <button class="arrow-button" type="submit">Submit Form<span class="arrow"></span>
        </button>
    </form>
  </div>
</div>