

<div class="contact">
  <div style="max-width: 700px;margin: auto;">
    <h1>Send me a message!</h1>
    <p>Got a question or proposal, or just want to say hello? Go ahead.</p>
    <br>
    <form action="https://formsubmit.co/773800d2a5622055519882384955653f" method="POST">
        <div>
          <div style="display: flex;justify-content: space-between;">
            <div class="input">
              <label><b>Name</b> *</label>
              <input type="text" placeholder="Enter your name..." name="name"  required>
            </div>
            <div class="input" style="padding-left: 3%;">
              <label><b>Email</b> *</label>
              <input type="text" placeholder="Enter your email..."name="email" required>
            </div>
          </div>
          <div class="textarea">
              <label><b>Your Message</b></label>
              <!-- <input  placeholder="Enter your name..."> -->
              <textarea placeholder="Your Message" class="form-control" name="message" rows="10" required></textarea> 
          </div>
        </div>
        <button class="arrow-button" type="submit">Submit Form<span class="arrow"></span>
        </button>
    </form>
  </div>
</div>
