<div style="height:70px; background-color:#0005 ; ">
  <nav class="navbar" style="padding-left: 20px;padding-right: 20px;max-width: 1600px;margin: auto;">
    <!-- LOGO -->
    <div class="logo" style="height: 70px;">
        <!-- <h1 style="font-weight: 800;font-family: Work Sans  ,sans-serif;color: #0F4148;;">LOGO</h1> -->
        <!-- <img src="assets/favicon/13.png" style="height: 100%;"> -->
    </div>
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
        <!-- USING CHECKBOX HACK -->
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <!-- NAVIGATION MENUS -->
        <div class="menu">
            <li><a routerLink="./">Home</a></li>
            <li (click)="goDown1()"><a >About </a></li>
            <li class="services" (click)="goDown2()">
                <a >Skills</a>
                <!-- DROPDOWN MENU -->
                <!-- <ul class="dropdown">
                    <li><a href="/">Management </a></li>
                    <li><a href="/">Sales</a></li>
                    <li><a href="/">Rental</a></li>
                </ul> -->
            </li>
            <li (click)="goDown3()"><a>Projects </a></li>
            <!-- <button>Hire Me</button> -->
            <!-- <li><a routerLink="./contactus" href="footer">Contact </a></li> -->
        </div>
    </ul>
</nav>
</div>