<div style="height:90px;">
  <nav class="navbar" style="padding-left: 20px;padding-right: 20px;">
    <!-- LOGO -->
    <div class="logo">
        <!-- <h1 style="font-weight: 800;font-family: Work Sans  ,sans-serif;color: #0F4148;;">LOGO</h1> -->
        <!-- <img src="assets/LOGO/5.png"> -->
    </div>
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
        <!-- USING CHECKBOX HACK -->
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <!-- NAVIGATION MENUS -->
        <div class="menu">
            <li><a routerLink="./">Home</a></li>
            <li><a routerLink="./aboutus">About </a></li>
            <li class="services">
                <a href="/">Skills</a>
                <!-- DROPDOWN MENU -->
                <!-- <ul class="dropdown">
                    <li><a href="/">Management </a></li>
                    <li><a href="/">Sales</a></li>
                    <li><a href="/">Rental</a></li>
                </ul> -->
            </li>
            <li><a routerLink="./contactus">Projects </a></li>
            <li><a routerLink="./contactus" href="footer">Contact </a></li>
        </div>
    </ul>
</nav>
</div>