<div  style="height: 25vh;background-color: #09d8e429;width: 100%;" >
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let slide of dynamicSlides">
      <ng-template carouselslide>
        <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title" style="width:100%;height: 100%;">
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
<!-- <div style="">
  <owl-carousel-o [options]="customOptions" >
    <ng-template carouselSlide>
      <div class="slide">
        <img src="assets/images/1.jpeg" alt="img 1" style="width: 300px;height: 100%;" />
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="assets/images/1.jpeg" alt="img 1" style="width: 300px;height: 100%;" />
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="assets/images/1.jpeg" alt="img 1" style="width: 300px;height: 100%;" />
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="assets/images/1.jpeg" alt="img 1" style="width: 300px;height: 100%;" />
      </div>
  
    </ng-template>
  </owl-carousel-o>
</div> -->
