<div  style="max-width: 1400px;margin: auto;margin-top: 10%;margin-bottom: 10%;">
  <div class="projects" >
    <!-- **************************************************************************************** -->
    <div class="card">
      <div class="project_pic">
        <img src="assets/projects/1.jpg">
      </div>
      <div class="body">
        <div>
          <p>I developed and designed a responsive portfolio website that includes my resume, portfolio, profile, skills and experience, and contact details. The website is built to adapt to different screen sizes and devices, providing an optimal viewing experience for users. The portfolio section showcases my projects, highlighting my abilities and achievements.</p>
        </div>
        <button class="arrow-button">View Project<span class="arrow"></span>
        </button>
      </div>
    </div>
<!-- ************************************************************************************************* -->

    <div class="card">
      <div class="project_pic">
        <img src="assets/projects/2.jpg">

      </div>
      <div class="body">
        <div>
          <p>I developed and designed a responsive portfolio website that includes my resume, portfolio, profile, skills and experience, and contact details. The website is built to adapt to different screen sizes and devices, providing an optimal viewing experience for users. The portfolio section showcases my projects, highlighting my abilities and achievements.</p>
        </div>
        <button class="arrow-button">View Project<span class="arrow"></span>
        </button>
      </div>
      </div>
<!-- ************************************************************************************************* -->

    <div class="card">
      <div class="project_pic">
        <img src="assets/projects/3.jpg">

      </div>
      <div class="body">
        <div>
          <p>I developed and designed a responsive portfolio website that includes my resume, portfolio, profile, skills and experience, and contact details. The website is built to adapt to different screen sizes and devices, providing an optimal viewing experience for users. The portfolio section showcases my projects, highlighting my abilities and achievements.</p>
        </div>
        <button class="arrow-button">View Project<span class="arrow"></span>
        </button>
      </div>
    </div>

<!-- ************************************************************************************************* -->
<div class="card">
  <div class="project_pic">
    <img src="assets/projects/4.jpg">

  </div>
  <div class="body">
    <div>
      <p>I developed and designed a responsive portfolio website that includes my resume, portfolio, profile, skills and experience, and contact details. The website is built to adapt to different screen sizes and devices, providing an optimal viewing experience for users. The portfolio section showcases my projects, highlighting my abilities and achievements.</p>
    </div>
    <button class="arrow-button">View Project<span class="arrow"></span>
    </button>
  </div>
</div>

<!-- ************************************************************************************************* -->
  </div>
</div>
