<div  style="max-width: 1400px;margin: auto;padding-top: 50px;padding-bottom: 50px;" id="projects">
  <div class="projects" >
    <!-- **************************************************************************************** -->
    <div class="card">
      <div class="project_pic">
        <img src="assets/projects/1.jpg">
      </div>
      <div class="body">
        <div>
          <p>I developed and designed a responsive portfolio website that includes my resume, portfolio, profile, skills and experience, and contact details. The website is built to adapt to different screen sizes and devices, providing an optimal viewing experience for users. The portfolio section showcases my projects, highlighting my abilities and achievements.</p>
        </div>
        <a style="text-decoration: none;" href="https://github.com/Fadiman741/WEBSITE">
          <button class="arrow-button">View Project<span class="arrow"></span>
          </button>
        </a>
      </div>
    </div>
<!-- ************************************************************************************************* -->

    <div class="card">
      <div class="project_pic">
        <img src="assets/projects/2.jpg">

      </div>
      <div class="body">
        <div>
          <p>I am developing a website that serves as an academic hub, allowing students to download previous question papers
            and engage in discussions within a dedicated forum. By providing a focused and controlled environment, we ensure that students can connect and collaborate without
            distractions from unrelated social media content.</p>
        </div>
        <a style="text-decoration: none;" href="https://github.com/Fadiman741/MY-SCHOOL">
          <button class="arrow-button">View Project<span class="arrow"></span>
          </button>
        </a>
      </div>
      </div>
<!-- ************************************************************************************************* -->

    <div class="card">
      <div class="project_pic">
        <img src="assets/projects/5.jpg">

      </div>
      <div class="body">
        <div>
          <p>I designed and developed a responsive website for a client that showcase his drawing art, profile, skills and experience, and contact details. The website is built to adapt to different screen sizes and devices, providing an optimal viewing experience for users. The portfolio section showcases his projects, highlighting my abilities and achievements.</p>
        </div>
        <a style="text-decoration: none;" href="https://github.com/Fadiman741/MOKONEARTSTUDIOS">
          <button class="arrow-button">View Project<span class="arrow"></span>
          </button>
        </a>
      </div>
    </div>

<!-- ************************************************************************************************* -->
<div class="card">
  <div class="project_pic">
    <img src="assets/projects/4.jpg">

  </div>
  <div class="body">
    <div>
      <p>Skybridge is a property website that will offers an extensive selection of rental and sales properties, tailored to meet
        the diverse needs and preferences.It will be resourceful for seeking an ideal property, providing a browsing experience.We utilized the Angular, ensuring a user-friendly interface that
        facilitates intuitive navigation and efficient property search.</p>
    </div>
    <a style="text-decoration: none;" href="https://github.com/Fadiman741/SkybridgeProperty">
      <button class="arrow-button">View Project<span class="arrow"></span>
      </button>
    </a>
   
  </div>
</div>

<!-- ************************************************************************************************* -->
  </div>
</div>
