
.tracker {
        float: left;
        width: 4vw;
        height: 100vh;
        margin: 0;

}
.homepage-container{
        width: 100vw;
        min-height: 100vh;
        margin: 0;
  /*      background-image: url('bg.png');*/
  /* background-color: #0005; */
  background-image: linear-gradient(100deg, rgba(2, 2, 2, 0.85), rgba(2, 2, 2, 0.85)), url('src/assets/images/bg1.jpg');
        width:100%;
        /* height:100vh; */
        background-size: cover;
        /* font-family: Arial, Helvetica, sans-serif; */
}
nav{
        width: 100%;
        height: 70px;
        background-color: #0005;
        line-height: 40px;
}
nav ul{
        float: right;
        margin-right: 30px;
      }
      nav ul li{
        list-style-type: none;
        display: inline-block;
        transition: 0.7s all;
      }
      nav ul li:hover{
        background-color:orange;
      }
      nav ul li a{
        text-decoration: none;
        color: #fff;
        padding: 20px;
      }


.body-container{
        margin-left: 10%;
        color:white;
        max-width: 800px;
        margin: auto;
        padding-top:5%;

        /* padding-top: 50px; */
}
.body-container .heading-one{
        padding-top: 30px;
        font-size:20px ;
        text-align: center;

        font-family: "Work Sans",sans-serif;


}
.body-container .heading-two{
        text-align: center;
        font-size: 70px;
        font-weight: 700;
        /* padding-top: -50px; */
        /* font-size: 10vw; make our h1 tag larger */
        font-family: sans-serif; /* choosing our font */
        /* background: linear-gradient(to right, rgba(255, 215, 255, 0) 0%, rgba(225, 255, 255, 0.5) 20%, rgb(224, 246, 255) 61%), linear-gradient(rgb(0, 205, 246) 52%, rgb(224, 246, 255) 60%, rgb(132, 118, 78) 61%); you can change the colors based on your preference */
        background-clip: text; /*it defines how far the background should extend within an element, here we set it to text */
        /* -webkit-background-clip: text; for browsers compatibility */
        /* -webkit-text-fill-color: transparent; specifies the fill color of text characters. We use transparent to use the background as our text fill  */
        /* animation: wave 2000ms ease alternate infinite; */
        /* transition: all 0.4s ease; */
        /* color: black; */
        /* border: 1px solid #eee; */
        

}
@keyframes wave {
        0% {
          background-position: 0 0;
        }
        100% {
          background-position: 50vw 80px;
        }
      }
.botom-div {
        margin-left: 4vw;;
        position: absolute;
        bottom: 0px;
        color:white;
    }
.more-info  {
        display: flex;
        justify-content: space-around;
        /* max-width: 300px; */
}

.botom-div{
        background-color:#0005;
        padding: 2%;
        min-height: 20vh;
        width: 91vw;
        box-shadow: -40px -117px 400px -45px rgba(183, 175, 175, 0.27);
        -webkit-box-shadow: -40px -117px 400px -45px rgba(109,102,102,0.27);
        -moz-box-shadow: -40px -117px 400px -45px rgba(109,102,102,0.27);
}
.profile_picture:hover {
        transform: scale(1.05);
}
.botom-div .column {
                float: left;
                /* width: 48vw; */
                /* background-color: #0005; */
}
.botom-div .sub-column {
        float: left;
        /* width: 5%; */
        bottom: 0px;
        
}

.sub-column h1{
        color:rgb(192, 126, 4);
        font-size:22px ;
}
.sub-column .img{
        /* margin-left:25%; */
}
fa-icon{
        font-size: 35px;   
        color: #ddd;    
}
button:hover{
        background-color: #3a9bac;
}
@media screen and (max-width: 678px) {
        .body-container .heading-two{
                font-size: 60px;
        }
        /* .botom-div{
                padding-left: 10px;
                padding-bottom: 5px;
                display: none;
                padding-right: 10px;

        } */
}
@media screen and (max-width: 375px) {

        .botom-div{
                display: none;
        }
}