
<div class="container">
   <div class="tracker" style="background-color:#3a9bac">


   </div>

   <div class="homepage-container">
      <div class="navigation">
         <app-navbar></app-navbar>
      </div>
      <div class="body-container" style="padding-right: 10px;">
         <h3 class="heading-one">HEY THERE, I'M</h3>
         <h1 class="heading-two">MAFADI LEPHAKA</h1>
         <h3 class="heading-one" style="color: #3a9bac;">SOFTWARE ENGINEER</h3>
         <br>
         <p class="body-info"
            style="line-height: 1.6;color: #eee;font-family: Arail,sans-serif;text-align: center;">I
            am passionate about creating solution oriented and  visually
            appealing web applications that cater to the unique needs of my
            clients. I have over 10+ months work and freelancing experience as a full time
            Web Developer.
         </p>
         <br>
         <br>
         <br>
         <div class="more-info" style="margin: auto;">
            <div class="column">
               <button class="viewprojects"   (click)="goProjects()">VIEW PROJECTS</button>
               <!-- <button class="hire-me" routerLink="Hire-Me">Hire Me</button> -->
            </div>
            <!-- <div class="column" >
                <button style="font-size:14px;background-color: #3a9bac;padding: 10px;border: none;border-radius: 5px;color: #fff;">HIRE ME</button>
             </div> -->
         </div>
      </div>
      <div class="botom-div">
         <!-- <div style="display: flex;"> -->
         <div style="height: 20vh;background-color: #146679c0;width: 100%;">
            <!-- <app-porjects-samples></app-porjects-samples> -->
            <!-- <h1 style="text-align: center;padding: 100px;">Content here</h1> -->
            <div
               style="display: flex;justify-content: space-around;padding-top: 2.5vh;padding-left: 20px;padding-right: 20px;">
               <div class="skillsimages" style="height: 15vh;min-width: 150px;">
                  <img src="assets/skills/5.jpg"
                     style="height: 100%;width: 100%;">
               </div>
               <div class="skillsimages" style="height: 15vh;min-width: 150px;">
                  <img src="assets/skills/4.jpg"
                     style="height: 100%;width: 100%;">
               </div>
               <div class="skillsimages" style="height: 15vh;min-width: 150px;">
                  <img src="assets/skills/3.jpg"
                     style="height: 100%;width: 100%;">
               </div>
               <div class="skillsimages" style="height: 15vh;min-width: 150px;">
                  <img src="assets/skills/1.jpg"
                     style="height: 100%;width: 100%;">
               </div>
               <div class="skillsimages" style="height: 15vh;min-width: 150px;">
                  <img src="assets/skills/7.jpg"
                     style="height: 100%;width: 100%;">
               </div>
               <!--<div style="height: 15vh"> 
                  <img src="assets/skills/2.png" style="height: 100%;">
               </div> -->
            </div>
         </div>

      </div>
   </div>

   
</div>

<app-background></app-background>
<app-skills></app-skills>
<!-- <app-services></app-services> -->
<!-- <app-reviews></app-reviews> -->
<app-projects></app-projects>
<!-- <app-contactme></app-contactme> -->

<app-footer></app-footer>