p{
        font-family: "Work Sans",sans-serif;
        font-size: 15px;
        text-align: justify;
        color: rgb(28, 28, 28);
        
}
.column-count{
        column-count: 2;
        column-gap: 40px;
        padding: 20px;
        column-rule: 1px solid #0F4148;
}

h1{
        /* font-size: 45px;
        padding-left: 20px; */
}
h1{
    color: #3a9bac;    
}
.container{
        display: flex;
        padding: 50px;
}
.about{
        width: 50%;
        padding: 20px;
        opacity: 1.2;
}
.image:hover {
        transform: scale(1.05);
    }
@media screen and (max-width: 678px) {
        .column-count{
                column-count: 1;
                column-rule: 1px solid #fff;
        }
        .container{
                flex-direction: column;
                padding: 20px;

        }
        .about{
                width: 100%;
                padding: 0px;

        }
        
}