/* p{
        font-family: "Work Sans",sans-serif;
        font-size: 15px;
        text-align: justify;
        color: rgb(28, 28, 28);
        
}
.column-count{
        column-count: 2;
        column-gap: 40px;
        padding: 20px;
        column-rule: 1px solid #0F4148;
}



h1{
    color: #3a9bac;  
    text-align: center;  
}
.container{
        display: flex;
        padding: 50px;
        margin-top: 20px;
        justify-content: space-around;
}
.about{

        opacity: 1.2;
        margin: 1%;

}
.image{

        background-color: #7bc6d4;
}
.about p{

        padding: 10px;
}

@media screen and (max-width: 678px) {
        .column-count{
                column-count: 1;
                column-rule: 1px solid #fff;
        }
        .container{
                flex-direction: column;
                padding: 2%;
        }
        .about{
                width: 100%;

        margin: auto;

        }
        .about p{

                padding: 10px;
        }
        .image{

                margin: auto;
        }
} */

/* body {
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
    } */

    .container {
        max-width: 1200px;
        margin: auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image {
        margin: auto;
        min-width: 340px;
        padding: 1.4%;
        text-align: center;
    }

    .image img {
        width: 100%;
        max-width: 100%;
        box-shadow: 0.6rem 0.6rem #fff, -0.6rem -0.6rem #fff;
    }

    .about {
        /* background-color: rgb(215, 235, 252); */
        /* box-shadow: 0.8rem 0.8rem #fff, -0.8rem -0.8rem #fff; */
        padding: 20px;
        text-align: center;
        margin-top: 20px;
        font-family: "Work Sans",sans-serif;;
    }

    .about p {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 20px;
    }

    @media (max-width: 768px) {
        .container {
            padding: 10px;
        }

        .image {
            transform: none;
            min-width: 100%;
        }
    }