<div style="background-image: linear-gradient(45deg, rgba(15, 15, 15, 0.733), rgba(0, 0, 0, 0.767)), url(' assets/images/profile.png');background-size: cover;background-repeat: no-repeat;">
  <div style="max-width: 1200px;margin: auto;" style="padding: 15px;" id="about">
    <!-- <h1 style="text-align: center;">Background</h1> -->
    <ng-template [ngTemplateOutlet]="background"></ng-template>
  
    <!-- <div class="column-count">
      <p>I am an ambitious and dedicated aspiring Software Engineer with a deep-rooted desire to leverage technology as a catalyst
        for positive change. Throughout my academic journey, I have consistently demonstrated a natural talent for rapid learning,
        allowing me to quickly grasp new concepts and adapt to emerging technologies and challenges effortlessly. This innate
        ability, combined with my passion for developing innovative solutions, drives me to enhance the lives of individuals and
        communities through the power of technology.</p>
        <p>
        My educational background includes a Bachelor of Sciences in Computer Science from the University of the Western Cape,
        where I majored in Computer Science and Information Systems. Additionally, I have acquired valuable skills and knowledge
        through a Fundamentals of Digital Marketing Certificate from Google Digital Skills. These educational experiences have
        equipped me with a solid foundation in software engineering principles, programming languages, and web development
        methodologies.</p>
        <p>
        In terms of work experience, I am currently serving as a Software Developer (Intern) at TravelFindme (Pty) Ltd. In this role, I
        actively contribute to the creation, redesign, and modernization of websites using the Angular framework. I have successfully
        updated the company's API by adding new endpoints and implementing SQL queries. Moreover, I am responsible for ongoing
        website maintenance, updates, and the addition of new features to ensure functionality, security, and up-to-date content.</p>
        <p>
        My competencies extend to both frontend and backend development. I possess proficiency in REST
        APIs, CRUD methods, and have demonstrated a strong problem-solving ability. Furthermore, my experience with Adobe Suite
        (illustrator, Photoshop, XD) enables me to deliver high-quality prototypes and designs. Additionally, I am skilled in UML
        documentation, including Use Case Diagrams, ERD Diagrams, Class Diagrams, and Database Design, while also offering
        business analysis expertise.</p>
        <p>    Volunteering with the Promaths Alumni Society has allowed me to make a meaningful impact on the lives of students. As
        Treasurer from March 2019 to March 2020, I managed comprehensive financial operations, ensuring compliance with
        financial regulations. Additionally, I organized and executed team-building and motivational events, providing valuable
        guidance to high school learners in their career decision-making process.</p>
    
        <p>
        Throughout my career, I have engaged in various projects that exemplify my competence in web development and my ability
        to create functional and visually appealing applications. Notable examples include my contributions to Skybridge, a property
        website developed using Angular, Django, and MySQL, and my ongoing development of a dedicated academic hub for
        students, utilizing Django Rest Framework and MySQL. I have also collaborated on the development of a COVID-19 data web
        scraper using React, and built a weather app using Angular to present real-time weather data in a visually engaging and userfriendly interface.
      </p>
    </div> -->
    
  </div>
  
</div>
<ng-template #background>
 
        <!-- <h1 style="font-weight: 800;">ABOUT ME</h1> -->
        

  <div class="container" style="max-width: 1200px;margin: auto;">
        
        <div class=" image" style="margin: auto;min-height: 200px;padding: 1.4%;">
        <!-- <img src="assets/about/about.jpeg" style="width:90%;border:10px solid #fff"> -->
    </div>
    <br>
    <div class="about" style="background-color: rgba(215, 235, 252, 0.226);">
    <!-- <div class="about" style="box-shadow: 0.9rem 0.9rem #fff, -0.9rem -0.9rem #fff;background-color: rgba(215, 235, 252, 0.226);"> -->
        <h1 style="color: #3a9bac;text-align: left;font-size: 2.17em;font-weight: 800;border-bottom: 7px solid #3a9bacc4;max-width: 210px;">ABOUT ME</h1>
        <BR>
        <p>I am an ambitious and passionate Software Engineer, driven by a vision of technology-powered 
          positive change.majored in Computer Science and Information Systems, honing my skills 
          in software engineering principles and software designs.</p>
          <!-- <br> -->
          <p>I worked as Software Developer (Intern) at TravelFindme (Pty) Ltd for 9 months (january-September 2023), I was actively involved 
            in creating and modernizing websites(mostly traveling angecies) using Angular also handles packages to show on the websites.I aslo 
            got exposed to NodeJS backend. I am currently freelancing fulltime  as a web developer, gaining valuable experiences across various projects.</p>
          <!-- <br> -->
            <p> I am comfortable in both frontend and backend development, I have a strong command over  REST 
              APIs, CRUD methods with Auth, and problem-solving. My expertise extends to crafting Use Case 
              Diagrams, ERD Diagrams, and Database Design, complemented by valuable 
              insights into business analysis.</p>
          <!-- <br> -->
            <p>With my varied experiences and profound comprehension of software engineering, I am well-equipped to make meaningful contributions
                to projects that have a significant impact.</p>
    </div>
    <br>
    <!-- <div class=" image" style="margin: auto;min-width: 340px;padding: 1.4%;">
      <img src="assets/about/21.png" style="width:100%;box-shadow: 0.6rem 0.6rem #fff, -0.6rem -0.6rem #fff;">
  </div> -->

  </div>
</ng-template>

