<div style="background-color: #0F4148;transform: skewY(-3deg);">
  <div class="skills" style="max-width: 1250px;margin: auto;padding: 20px;padding-top: 30px;transform: skewY(3deg);">
    <div>
      <h1>Skills</h1>
      <p style="min-width: 400px;max-width: 700px; text-align: justify;">
        I build bespoke responsive WordPress websites, working with a graphic designer (which I can provide), is what I love to do. 
        This would typically cover both front-end development (HTML5/CSS3/JS) and back-end (WordPress as CMS fields and functionality) development.</p>
        <ul>
          <li>HTML.</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>BootStrap</li>
          <li>Flex Layout</li>
          <li>TypeScript</li>
          <li>GitHub and Git</li>
          <li>Database Design</li>
      </ul>
    </div>

    <div>

      <ul>
      <h1>Back-end</h1>

          <li>Innovative and have solid grasp of the web-development lifecycle.</li>
          <li>Frontend (Angular, React)</li>
          <li>Backend (Express JS, Flask & Django, .NET)</li>
          <li>RESTful APIs and CRUD methods</li>
          <li>Problem solving, independent self-starter whose also able to work effectively in a team environment.</li>
          <li>Prototyping skills with the following Adobe suit (illustrator, Photoshop, XD).</li>
          <li>GitHub and Git</li>
          <li>Database Design</li>
      </ul>
    </div>
  </div>
</div>