<div class="skills-container" >
  <div class="skills" style="max-width: 1250px;margin: auto;padding: 20px;padding-top: 30px;;">
    <div>
      <h1>Skills</h1>
      <p style=" text-align: justify;">
        I specialize in creating custom responsive web applications, which is my passion. My expertise includes both front-end development using Angular and back-end development using Django framework along with relational databases.</p>
        <ul>
          <li>HTML.</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>BootStrap</li>
          <li>Flex Layout</li>
          <li>TypeScript</li>
          <li>GitHub and Git</li>
          <li>Database Design</li>
          <li>GitHub and Git</li>
          <li>Database ( MYSQL )</li>
          <li>REST APIs and CRUD methods</li>
          <li>Frontend framework (Angular, React)</li>
          <li>Backend framework(Express JS, Flask & Django)</li>
      </ul>
    </div>
    <div>
      <ul>
      <h1>Compitencies</h1>
          <li>Innovative and have solid grasp of the web-development lifecycle.</li>
          <li>Prototyping with the following Adobe suit(illustrator,Photoshop, XD)</li>
          <li>UML Documentation, Use Case Diagrams, ERD Diagrams, Class Diagrams, Database Design</li>
          <li>Problem solving, independent self-starter whose also able to work effectively in a team environment.</li>
          <li>Business Analysis, Database management, Project management.</li>
          <li>I have a comfortable knowledge and understanding of (Computer Networking , Machine learning , Software Engineering , Business Analysis).</li>

      </ul>
    </div>
  </div>
</div>