<div class="services">
  <div class="container" id="three" >
    <h1 class="">SERVICES</h1>
    <div class="row">
        <div class="col-lg-4 mt-4">
            <div class="card servicesText">
                <div class="card-body">
                    <i class="fa fa-file-code-o"></i>
                    <h2 class="card-title mt-3">WEBSITE DEVELOPMENT</h2>
                    <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-4">
            <div class="card servicesText">
                <div class="card-body">
                    <i class="fa fa-codepen"></i>
                    <h2 class="card-title mt-3">WEBSITE DESIGN</h2>
                    <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mt-4">
            <div class="card servicesText">
                <div class="card-body">
                    <i class="fa fa-camera"></i>
                    <h2 class="card-title mt-3">PHOTOGRAPHY</h2>
                    <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mt-4">
            <div class="card servicesText">
                <div class="card-body">
                    <i class="fa fa-toggle-left"></i>
                    <h2 class="card-title mt-3">PHOTO/VIDEO EDITING</h2>
                    <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>