
<div class="homepage" id="home">
  <app-navbar></app-navbar>
  <div class="temp" style="max-width: 1500px; margin: auto;padding-top: 15%;">
    <div class="container left">
        <h1>Hi, I’m <span style="font-weight: 800  ;border: 1px solid #eee;">Mafadi Lephaka.</span> </h1>
        <p> Over 12+ months experience with Web Application Developement.</p>
        <p> I am passionate about creating seamless and visually appealing web applications that cater to the unique needs of my clients. </p>
        <!-- <button>Hire Me</button> -->
        <br>
        <div style="display: flex;max-width: 120px;justify-content: space-between;">
          <a href="https://github.com/Fadiman741"><fa-icon [icon]="faSquareGithub"></fa-icon></a>
          <a href="https://www.linkedin.com/in/mafadilephaka/"><fa-icon [icon]="faLinkedin"></fa-icon></a>
          <a href="https://wa.me/27796872741"><fa-icon [icon]="faSquareWhatsapp"></fa-icon></a>
          <!-- <a><fa-icon [icon]="faSquareWhatsapp"></fa-icon></a> -->
        </div>
        <br>

        <button class="arrow-button" (click)="goProjects()" >SEE MY WORK<span class="arrow"></span>
        </button>
    </div>
    <div class="container right">
  <!-- <h1>Hello</h1> -->
    </div>
  </div>
</div>
<div>

</div>
<app-background></app-background>
<!-- <app-skills></app-skills> -->
<app-services></app-services>
<!-- <app-reviews></app-reviews> -->
<app-projects></app-projects>
<!-- <app-contactme></app-contactme> -->
<app-footer></app-footer>